* {
    padding: 0;
    margin: 0;
}
/* Style da home */
.menu{
    background-color:#222 ;

}
























footer {
    background-color: #CCCEFF;
    color: white;
}
.flex {
    display: flex;
}
.j-around {
    justify-content: space-around;
}
.box-width {
    width: 40vw;
}
.center {
    justify-content: center;
    text-align: center;
    align-items: center;
}
.d-column {
    flex-direction: column;
}
.lista i {
    border-radius: 20px;
}
li {
    list-style-type: none;
}
.icone i {
    color: white;
    margin: 5px;
    padding: 10px;
    border: 2px solid #333;
    background-color: #333;
}
.teste li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}