* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}
/* Style da home */
.flex {
    display: flex;
}
.j-around {
    justify-content: space-around;
}
.j-between {
    justify-content: space-between;
}
.d-column {
    flex-direction: column;
}
.center {
    justify-content: center;
    text-align: center;
    align-items: center;
}
.background {
    background-color: #CCCEFF;
}
.box-width {
    width: 40vw;
}


.topo {
    color: white;
    background-image: url(../img/fundo-roxo-claro19.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}
.logo h1 {
    font-size: 22px;
}
.logo {
    justify-content: center;
    align-items: center;
}
/* .nav {
    
} */
.nav li {
    margin: 5px;
    padding: 5px;
}
.nav a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}



.div h2 {
margin: 40px;
padding: 20px;

}
.div p{
    margin: 5px;
    padding: 3px;
}
.m-column{
    color:  rgb(5, 6, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/salao-de-cabeleireiro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

footer {
    background-color: #CCCEFF;
    color: white;
}
.center {
    justify-content: center;
    text-align: center;
    align-items: center;
}
.d-column {
    flex-direction: column;
}
.lista i {
    border-radius: 20px;
}
li {
    list-style-type: none;
}
.icone i {
    color: white;
    margin: 5px ;
    padding: 10px;
    border: 2px solid #333;
    background-color: #333;
}
.teste li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width:764px) {


}